/* MUBC Header */
#mubc-header {
    background-color: white;
    text-align: center;
    background-color: #c70000;
    padding-top: 60px;
    padding-bottom: 10px;
}

#mubc-header > div:first-child {
    width: 350px;
    height: 250px;
    background-color: white;
    opacity: .8;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    z-index: 99;
    position: relative;
}

#mubc-header > div:first-child > a >  img{
    position: relative;
    margin-top: -50px;
    transition: 0.3s;
}

#mubc-header > div:first-child > a >  img:hover{
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

#mubc-header > div:last-child {
    position: relative;
    margin-top: -230px;
    z-index: 3 ;
}

/* MUBC Navbar */

#nav {
    margin-left: 100px;
}

.navbar__selection__active {
    color: rgb(199, 0, 0) !important;
    font-weight: 600;
}

.navbar__selection {
    text-decoration: none;
    color: rgba(0,0,0,.5);
    transition: 0.3s;
    font-family: "Source Sans Pro", arial, sans-serif;
    font-size: 16px;
    padding-right: 30px;
    margin-top: 10px;
}

.navbar__selection__dropdown {
    transition: 0.3s;
    font-family: "Source Sans Pro", arial, sans-serif;
    font-size: 16px;
    padding-right: 30px;
    margin-top: 2px;
}

.navbar__selection:hover {
    color: rgb(199, 0, 0);
    text-decoration: none;
}

.navbar__selection__dropdown > a {
    transition: 0.3s !important;

}

.navbar__selection__dropdown > a:hover {
    color: #c70000 !important;
}


.navbar__profile {
    margin-left: 100px;
    margin-top: 8px;
}

.navbar__profile > img {
    width: 25px;
    margin-top: -10px;
    margin-bottom: -10px;
    transition: 0.3s;
}

.navbar__profile >  img:hover {
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
}

@media (max-width: 992px) {
    .navbar__profile {
        margin-left: 0px;
        margin-top: 0px;
    }
    .navbar__selection {
        margin-top: 5px;
    }
}

/* MUBC Home */

#mubc-home__banner {
    height: 800px;
}

#mubc-home__banner > div{
    background: url("../images/mubc_banner.jpg");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
}

#mubc-home__banner > div > div {
    position: absolute;
    margin-top: 500px;
    display: block;
    width: 400px;
    height: 150px;
    background-color: #c70000;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    border-radius: 20px;
}

#mubc-home__banner > div > div > h1 {
    color: white;
}

#mubc-home__banner > div > div > a {
    position: relative;
    display: block;
    color: white;
    background-color: white;
    padding: 10px 15px;
    font-size: 14px;
    color: black;
    font-weight: 700;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#mubc-home__banner > div > div > a:hover {
    text-decoration: none;
}

#mubc-home__sessions{
    text-align: center;
}

#mubc-home__sessions > h1 {
    font-family: "Fjalla One", arial, sans-serif;
    font-size: 48px;
    color: #c70000;
    font-weight: 500;
    padding-top: 50px;
}

#mubc-home__sessions > div:nth-child(even) {
    background-color: #F6F6F6;
}


#mubc-home__virtual-blockchain-conference  {
     display: block;
    overflow-x: scroll;
    white-space: nowrap;
}

#mubc-home__virtual-blockchain-conference  > img {
    margin-right: 40px;
    width: 600px;
    height: 300px;
    position: relative;
}

#mubc-home__virtual-blockchain-conference  > img:first-child  {
    margin-left: 150px;
}

#mubc-home__conference-link {
    height: 140px;
    text-align: center;
    position: relative;
    padding-top: 40px;
}

#mubc-home__conference-link > a {
    text-transform: uppercase;
    background-color: #c70000;
    width: 450px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 15px;
    border-radius: 10px;
    padding: 15px 20px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}


#mubc-home__blockchain-conference {
    height: 250px;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/conference_slideshow_1.jpg") no-repeat;
    background-size: cover;
    background-position: center -180px;
    position: relative;
    width: 100%;
}

#mubc-home__blockathon {
    height: 250px;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/blockathon_banner.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
}

#mubc-home__blockchain-conference > div, #mubc-home__blockathon > div {
    width: 80%;
    display: flex;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding-top: 90px;
}

#mubc-home__blockchain-conference > div > div:first-child, #mubc-home__blockathon > div > div:first-child {
    width: 80%;
}

#mubc-home__blockchain-conference > div > div:last-child, #mubc-home__blockathon > div > div:last-child {
    width: 20%;
    margin-top: 10px;
}


#mubc-home__blockchain-conference > div > div > h2, #mubc-home__blockathon > div > div > h2 {
    color: white;
}

#mubc-home__blockchain-conference > div > div > a, #mubc-home__blockathon > div > div > a {
    text-decoration: none;
    color: white;
    background-color: #c70000;
    padding: 10px 14px;
    border-radius: 5px;
    font-weight: 600;
    font-family: 'Source Sans Pro', arial, sans-serif;
}

#mubc-home__about-us {
    text-align: center;
}

#mubc-home__about-us > h1 {
    font-family: "Fjalla One", arial, sans-serif;
    font-size: 48px;
    color: #c70000;
    padding-top: 50px;
}

.mubc-home__about-us__container {
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.mubc-home__about-us__container > div {
    width: 48%;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.mubc-home__about-us__container > div > img{
    max-width: 550px;
    max-height: 300px;
    width: 100%;
}

.mubc-home__about-us__container > div > h2 {
    color: rgb(21, 21, 21);
    font-size: 22px;
}

.mubc-home__about-us__container > div > p {
    font-family: 'Source Sans Pro', arial, sans-serif;
    font-size: 16px;
    color: rgb(87, 87, 87);
}

#mubc-home__contact {
    text-align: center;
}

#mubc-home__contact > h1 {
    font-family: "Fjalla One", arial, sans-serif;
    font-size: 48px;
    color: #c70000;
    font-weight: 500;
    padding-top: 50px;
}

#mubc-home__contact__form__container {
    display: flex;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

#mubc-home__contact__right {
    width: 40%;
    text-align: left;
    margin-bottom: 30px;
 }

#mubc-home__contact__right > h4, #mubc-home__contact__left > h4 {
    font-size: 22px;
    color: rgb(27, 27, 27);
    margin-bottom: 24px;
    font-family: 'Source Sans Pro', arial, sans-serif;
}

#mubc-home__contact__right > p {
    font-size: 22px;
    color: rgb(94, 94, 94);
    font-size: 16px;
    font-family: 'Source Sans Pro', arial, sans-serif;
    line-height: .5em;
}

#mubc-home__contact__right > p >  a {
    color: #c70000;
    text-decoration: underline;
    transition: 0.3s;
    font-size: 16px;
    line-height: .5em;
}

#mubc-home__contact__right > p > a:hover {
    opacity: .5;
}

#mubc-home__contact__left {
    width: 60%;
    text-align: left;
}

#mubc-home__contact__left > form > input {
    width: 80%;
    margin-bottom: 30px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#mubc-home__contact__left > form > textarea {
    width: 80%;
    margin-bottom: 30px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 200px;
}

#mubc-home__contact__send {
   color: white;
    background-color: #c70000;
    border: none;
}

#mubc-home__map {
    height: 450px;
    overflow: hidden;
}

#mubc-home__map > iframe{
    width: 100%;
    height: 100%;
}

#mubc-home__socials {
    padding-bottom: 80px;
}

#mubc-home__socials > h1 {
    font-family: "Fjalla One", arial, sans-serif;
    font-size: 48px;
    color: #c70000;
    font-weight: 500;
    padding-top: 50px;
}

#mubc-home__socials > div  {
    margin-top: 100px;
}

#mubc-home__socials > div > a {
    border-radius: 50%;
    padding: 25px 15px;
    margin-left: 22px;
    margin-right: 22px;
}

#mubc-home__socials > div > a:first-child {
    background-color: #389CEA;
}

#mubc-home__socials > div > a:nth-child(2) {
    background-color: #E1426C;
}

#mubc-home__socials > div > a:nth-child(3) {
    background-color: #2867B2;
}

#mubc-home__socials > div > a:last-child {
    background-color: #E93F33;
}

.mubc-home__icon {
    color: white;
    margin-top: -3px;
    font-size: 40px;
}


@media (max-width: 1205px) {
    #mubc-home__contact__right > p, #mubc-home__contact__left > p {
        line-height: normal;
    }
}

@media (max-width: 967px) {
    #mubc-home__contact__form__container {
        display: block;
    }

    #mubc-home__contact__right, #mubc-home__contact__left {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    #mubc-home__contact__right {
        margin-bottom: 70px;
    }
}

@media (max-width: 850px) {
    .mubc-home__about-us__container {
        width: 100%;
        flex-direction: column;
    }
    .mubc-home__about-us__container > div {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .mubc-home__about-us__container:last-child > div:first-child {
        order: 2;
    }

    .mubc-home__about-us__container:last-child > div:last-child {
        order: 1;
    }
}

@media (max-width: 845px) {
    #mubc-home__blockchain-conference, #mubc-home__blockathon {
        background-position: center;
    }

    #mubc-home__blockchain-conference > div {
        display: block;
        text-align: center;
        padding-top: 50px;
    }

    #mubc-home__blockathon > div {
        display: block;
        text-align: center;
        padding-top: 80px;
    }

    #mubc-home__blockchain-conference > div > div:first-child, #mubc-home__blockathon  > div > div:first-child {
        width: 100%;
    }

    #mubc-home__blockchain-conference > div > div:first-child > h2, #mubc-home__blockathon  > div > div:first-child > h2 {
        font-size: 30px;
    }

    #mubc-home__blockchain-conference > div > div:last-child, #mubc-home__blockathon > div > div:last-child {
        width: 100%;
    }
}

@media (max-width: 475px) {

    #mubc-home__conference-link {
        padding-top: 25px;
    }

    #mubc-home__conference-link > a {
        font-size: 15px;
        width: 350px;
    }
}

@media (max-width: 460px) {
    #mubc-home__socials > div > a {
        padding: 10px 8px;
    }

    .mubc-home__icon {
        margin-top: -3px;
        font-size: 20px;
    }
}


/* Leadership Team */

.divider{
    width: 50px;
    height: 2.5px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
}

#leadership-team__header {
    margin-top: -10px;
    text-align: center;
    font-size: 40px;
    color: #C8352A;
    font-family: 'Fjalla One', arial, sans-serif;
    text-transform: uppercase;
}

#leadership-team__strategic-advisors__header {
    padding-top: 45px;
    text-align: center;
    font-size: 40px;
    color: #C8352A;
    font-family: 'Fjalla One', arial, sans-serif;
    text-transform: uppercase;
}

.leadership-team__row {
    text-align: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.leadership-team__row:nth-child(even) {
   background-color: #F6F6F6;
}

.leadership-team__strategic-advisors {
    background-color: #F6F6F6;
}

.leadership-team__column {
    text-align: center;
    position: relative;
    width: 400px;
    height: 950px;
}

.leadership-team__strategic-advisors__column {
    text-align: center;
    position: relative;
    width: 400px;
    height: 1225px;
}

.leadership-team__column > img, .leadership-team__strategic-advisors__column > img{
    border-radius: 50%;
    width: 223px;
    height: 223px;
    image-rendering: crisp-edges;
}

.leadership-team__column > p, .leadership-team__strategic-advisors__column > p{
    margin-right: auto;
    margin-left: auto;
    width: 85%;
}

.leadership-team__column > p:nth-child(2), .leadership-team__strategic-advisors__column > p:nth-child(2) {
    font-size: 22px;
    font-family: 'Source Sans Pro', arial, sans-serif;
}

.leadership-team__column > p:nth-child(3), .leadership-team__strategic-advisors__column > p:nth-child(3) {
    font-family: 'Source Sans Pro', arial, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 16px;
    opacity: 80%;
}

.leadership-team__column > p:nth-child(4), .leadership-team__strategic-advisors__column > p:nth-child(4) {
    color: rgb(94, 94, 94);
    font-family: 'Source Sans Pro', arial, sans-serif;
    font-size: 16px;
}

.leadership-team__column > a, .leadership-team__strategic-advisors__column > a {
    color: rgb(199, 0, 0);
    text-decoration: underline;
}

.leadership-team__column > a:last-child, .leadership-team__strategic-advisors__column > a:last-child{
    text-transform: uppercase;
    background: #c70000;
    color: white;
    text-decoration: none;
    font-family: 'Source Sans Pro', arial, sans-serif;
    display: block;
    width: 30%;
    border-radius: 5px;
    padding: 12px 30px;
    font-size: 12px;
    position: absolute;
    margin-left: 35%;
    bottom: 0;
}

@media(max-width: 800px) {
    .leadership-team__column, .leadership-team__strategic-advisors__column {
        margin-bottom: 40px;
        height: auto;
    }
    .leadership-team__column > a:last-child,  .leadership-team__strategic-advisors__column > a:last-child {
        position: relative;
        margin-top: 30px;
    }

}

@media (max-width: 450px) {
    .leadership-team__column, .leadership-team__strategic-advisors__column {
        width: 300px;
        margin-bottom: 30px;
    }
    .leadership-team__column > img, .leadership-team__strategic-advisors__column > img {
        width: 200px;
        height: 200px;
    }
}

/* Affiliations */

#affiliations {
    text-align: center;
}

#affiliation__header {
    text-transform: uppercase;
    font-family: 'Fjalla One', arial, sans-serif;
    font-size: 28px;
}

#affiliations > div {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
}

#affiliation > div > div {
    position: relative;
    width: 400px;
    padding-left: 20px;
    padding-right: 20px;
}

#affiliations > div:nth-child(odd) {
    background-color: #F6F6F6;
}

#farmer_image {
    height: 150px;
    width: 350px;
    padding-right: 40px;
    margin-top: -10px;
}

#greenblock_image {
    padding-left: 40px;
    padding-right: 40px;
    width: 350px;
    margin-top: 40px;
}

#coinninja_image {
    padding-left: 40px;
    padding-right: 40px;
    width: 350px;
    margin-top: 30px;
}

#mousebelt_image {
    padding-left: 40px;
    width: 350px;
    height: 100px;
    margin-top: 20px;
}

#blox_image {
    width: 350px;
    padding-right: 40px;
    margin-top: 50px;
}

#block_key_image {
    width: 450px;
    margin-top: 80px;
    padding-right: 40px;
    padding-left: 40px;
}

#block_tribune_image {
    padding-left: 40px;
    margin-top: 10px;
}

#big_b_image {
    padding-right: 100px;
    width: 350px;
}

#ben_image {
    width: 450px;
    height: 200px;
    padding-left: 100px;
}

@media (max-width: 700px) {
    #farmer_image,  #greenblock_image, #coinninja_image, #mousebelt_image, #blox_image, #block_key_image, #block_tribune_image, #big_b_image, #ben_image {
        padding: 0 !important;
    }
}


/* Member Portal */
#member-portal {
    text-align: center;
}

#member-portal > h1 {
    margin-top: 30px;
    font-family: 'Fjalla One', arial, sans-serif;
    font-size: 38px;
    color: #c70000;
}

#member-portal > p {
    margin-top: 20px;
    font-size: 16px;
    font-family: "Source Sans Pro", arial, sans-serif;
    opacity: .8;
}

#member-portal > input {
    width: 58%;
    margin-bottom: 30px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#member-portal__sign-in, #member-portal__reset{
    background-color: #c70000;
    border: none;
    padding: 12px 25px;
    font-family: 'Source Sans Pro', arial, sans-serif;
    margin-top: 20px;
}

#member-portal__reset-link, #member-portal__sign-in__link {
    color: #c70000;
    font-weight: 600;
    cursor: pointer;
}

#member-portal__reset-link:hover {
    opacity: .5;
}

/* Blockathon 2019 */

#blockathon-2019 {
    text-align: center;
}

#blockathon-2019 > img {
    max-width: 875px;
    height: 100%;
    width: 80%;
    margin-top: 60px;
}

#blockathon-2019 > h1 {
    margin-top: 30px;
    font-family: 'Fjalla One', arial, sans-serif;
    font-size: 38px;
    color: #c70000;
}

#blockathon-2019__description {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#blockathon-2019__description > p:first-child {
    text-align: center;
    margin-top: 20px;
    color: rgb(27, 27, 27);
    font-weight: 400;
    font-size: 22px;
    font-family: 'Source Sans Pro', arial, sans-serif;
}

.blockathon-2019__subheading {
    color: rgb(94, 94, 94);
    font-size: 16px;
}

.blockathon-2019__rankings {
    font-weight: 700;
    font-family: 'Source Sans Pro', arial, sans-serif;
    color: rgb(94, 94, 94);
    margin-top: 40px;
    font-size: 16px;
}

.blockathon-2019__ranking__list {
    margin-top: 0px;
    font-weight: 400;
    color: rgb(94, 94, 94);
    margin-left: 60px;
    font-size: 15px;
}

#blockathon-2019__qa {
    background-color: #F6F6F6;
}

#blockathon-2019__qa > h1 {
    padding-top: 50px;
    font-family: 'Fjalla One', arial, sans-serif;
    font-size: 38px;
    color: #c70000;
}

#blockathon-2019__qa > div {
    width: 55%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#blockathon-2019__qa > div > h4 {
    font-size: 22px;
    color: rgb(21, 21, 21);
    font-weight: 400;
    font-family: 'Source Sans Pro', arial, sans-serif;
}

#blockathon-2019__qa > div > p {
    font-size: 16px;
    color: rgb(87, 87, 87);
    font-weight: 400;
    font-family: 'Source Sans Pro', arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 30px;
}

#blockathon-2019__qa > div > h4:first-child {
    margin-top: 40px;
}

@media (max-width: 860px) {
    #blockathon-2019__qa > div {
        width: 85%;
    }
    #blockathon-2019__description {
        width: 85%;
    }
}

/* Conference 2019 */

#conference-2019 {
    text-align: center;
    margin-bottom: 30px;
}

#conference-2019 > img {
    max-width: 875px;
    height: 100%;
    width: 80%;
    margin-top: 60px;
}

#conference-2019 > div:nth-child(odd) {
    background-color: #F6F6F6;
}

#conference-2019__info {
    text-align: center;
}

#conference-2019__info > h1{
    padding-top: 50px;
    font-family: 'Fjalla One', arial, sans-serif;
    font-size: 38px;
    color: #c70000;
}

#conference-2019__info__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

#conference-2019__info__left {
    text-align: left;
    width: 70%;
}

#conference-2019__info__right {
    text-align: left;
    width: 30%;
}

#conference-2019__info__left > h4, #conference-2019__info__right > h4 {
    font-weight: 400;
    color: rgb(27, 27, 27);
    font-size: 22px;
    font-family: 'Source Sans Pro', arial, sans-serif;
}

#conference-2019__info__left > p, #conference-2019__info__right > p {
    margin-top: 30px;
    color: rgb(94, 94, 94);
    font-size: 16px;
    font-family: 'Source Sans Pro', arial, sans-serif;
    width: 95%;
}

#conference-2019__info__left > p > a, #conference-2019__info__right > p > a {
    color: #c70000;
    text-decoration: underline;
    transition: 0.3s;
}

#conference-2019__info__left > p > a:hover, #conference-2019__info__right > p > a:hover {
    opacity: .5;
}

#conference-2019__info__right > a {
    background: #c70000;
    color: white;
    position: relative;
    display: block;
    text-decoration: none;
    text-align: center;
    font-family: 'Source Sans Pro', arial, sans-serif;
    border-radius: 5px;
    padding: 18px 20px;
    font-size: 18px;
    margin-top: 30px;
    width: 160px;
}

#conference-2019__info__right > a:hover {
    opacity: .8;
}


#conference-2019__recording {
    text-align: center;
    background-color: #161616;
    margin-bottom: -50px;
}

#conference-2019__recording > h1{
    padding-top: 50px;
    font-family: 'Fjalla One', arial, sans-serif;
    font-size: 38px;
    color: #c70000;
}

#conference-2019__recording > iframe {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 80%;
    height: 600px;
}

.conference-2019__guests {
    text-align: center;
    margin-top: 50px;
}

.conference-2019__guests > h1 {
    padding-top: 50px;
    font-family: 'Fjalla One', arial, sans-serif;
    font-size: 38px;
    color: #c70000;
}

.conference-2019__guests > div {
    text-align: center;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
}

.conference-2019__guests > div > div {
    text-align: center;
    position: relative;
    width: 350px;
    height: 500px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.conference-2019__guests > div > div > img {
    border-radius: 50%;
    width: 223px;
    height: 223px;
}

.conference-2019__guests > div > div > h4 {
    color: rgb(27, 27, 27);
    font-weight: 400;
    font-size: 22px;
}

.conference-2019__guests > div > div > p {
    font-weight: 400;
    font-family: 'Source Sans Pro', arial, sans-serif;
    font-size: 16px;
    color: rgb(94, 94, 94);
    margin-top: 25px;
}

.conference-2019__guests > div > div > p > a {
    color: #c70000;
    text-decoration: underline;
    transition: .3s;
}

.conference-2019__guests > div > div > p > a:hover {
    opacity: .5;
}

.conference-2019__guests > div > div > a {
    text-transform: uppercase;
    background: #c70000;
    color: white;
    text-decoration: none;
    font-family: 'Source Sans Pro', arial, sans-serif;
    display: block;
    width: 60%;
    border-radius: 4px;
    font-weight: 700;
    padding: 10px 30px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    margin-left: 20%;
    bottom: 0;
}

#conference-2019__photos {
    text-align: center;
    background-color: #F6F6F6;
    position: relative;
    padding-bottom: 40px;
}

#conference-2019__photos > h1 {
    padding-top: 50px;
    font-family: 'Fjalla One', arial, sans-serif;
    font-size: 38px;
    color: #c70000;
}

#conference-2019__slideshow {
    background-color: darkgrey;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.conference-2019__slideshow_image {
    width: 100%;
    height: auto;
    max-width: 1000px;
}

@media (max-width: 1025px) {
    #conference-2019__info__container {
        display: block;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }

    #conference-2019__info__left, #conference-2019__info__right {
        width: 100%;
    }
}

@media (max-width: 800px) {
    #conference-2019__recording > iframe {
        height: 400px;
    }
}

@media (max-width: 780px) {
    .conference-2019__guests > div > div > a {
        position: relative;
    }
}

@media (max-width: 600px) {
    #conference-2019__recording > iframe {
        height: 300px;
    }
}

/* MUBC Footer */

#mubc-footer {
    height: 250px;
    width: 100%;
    position: absolute;
    text-align: center;
}

#mubc-footer > p {
    margin-top: 10px;
}

#mubc-footer > p:nth-child(3) {
    font-weight: 600;
}

#mubc-footer > p > a {
    color: #c70000;
    text-decoration: underline;
}

#mubc-footer > div:nth-child(4) > a {
    transition: 0.3s;
    text-decoration: none;
    color: dimgray;
}

#mubc-footer > div:nth-child(4) > a:hover {
    color: #c70000;
}

#mubc-footer > div:nth-child(4) > a:first-child {
    padding-right: 10px;
}

#mubc-footer > div:nth-child(4) > a:last-child {
    padding-left: 10px;
}

#mubc-footer__icon-div {
    margin-top: 70px;
}

#mubc-footer__icon-div > a:first-child {
    background-color: #3AA1F2;
}

#mubc-footer__icon-div > a:nth-child(2) {
    background-color: #E1426C;
}

#mubc-footer__icon-div > a:nth-child(3) {
    background-color: #2867B2;
}

#mubc-footer__icon-div > a:last-child {
    background-color: #E93F33;
}

.mubc-footer__media-link {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
    padding: 2px 5px;
}

.mubc-footer__icon {
    margin-top: -2px;
    font-size: 15px;
    color: white;

}

/* Fall 2020 Events */

.fall-2020 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.fall-2020 > h1 {
    font-family: "Fjalla One", arial, sans-serif;
    font-size: 48px;
    color: #c70000;
    font-weight: 500;
}

@media (max-width: 540px) {
    .fall-2020 {
        width: 95%;
    }
}

/* Event Row */

.mubcEventRow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 2px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
    cursor: pointer;
}

.mubcEventRow:hover {
    opacity: .5;
}

.mubcEventRow__date {
    text-align: center;
    width: 150px;
    background-color: #c70000;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    padding: 4.5px 0px;
    z-index: 20;
}

.mubcEventRow__date:after {
    content: "";
    position: absolute;
    margin-left: 4.7%;
    margin-top: -78px;
}

.mubcEventRow__date > h4{
   font-weight: 900;
    margin-right: 15px;
}

.mubcEventRow__title {
    text-align: center;
    width: 110%;
    padding: 7.5px 0px;
    z-index: 10;
}

.mubcEventRow__title > h5 {
    font-weight: 900;
}

@media (max-width: 888px) {
    .mubcEventRow__title > h5 {
        font-size: 18px;
    }
}

@media (max-width: 711px) {
    .mubcEventRow__title > h5 {
        font-size: 14px;
    }
    .mubcEventRow__date > h4 {
        font-size: 16px;
        margin-right: 15px;
    }
}

@media (max-width: 595px) {

    .mubcEventRow__title > h5 {
        font-size: 12px;
    }
    .mubcEventRow__date > h4 {
        font-size: 14px;
    }
}

@media (max-width: 540px) {

    .mubcEventRow__date > h4 {
        font-size: 14px;
    }
}

@media (max-width: 433px) {
    .mubcEventRow__title > h5 {
        font-size: 10px;
    }
}

/* MUBC Event Modal */

.mubEventModal {
    z-index: 9999999 !important;
    position: relative !important;
}

.mubcEventModal__header {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.mubcEventModal__header > div:last-child{
    margin-left: 50px;
}

.mubcEventModal__body > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.mubcEventModal__body > p {
    text-align: center;
    color: rgb(94, 94, 94);
    font-family: 'Source Sans Pro', arial, sans-serif;
    font-size: 20px;
}

.mubcEventModal__footer {
    display: block;
    text-align: center;
}

.mubcEventModal__footer > p {
    color: rgb(94, 94, 94);
    font-family: 'Source Sans Pro', arial, sans-serif;
    font-size: 20px;
}

.mubcEventModal__footer > a {
    color: #c70000;
    text-decoration: underline;
    transition: 0.3s;
}

.mubcEventModal__footer > a:hover {
    opacity: .5;
}


